doctype
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    <!--[if lt IE 9]>
    p.browsehappy
      | You are using an <strong>outdated</strong> browser.
      | Please <a href="http://browsehappy.com/">upgrade your browser</a>
      | to improve your experience.
    <![endif]-->
    
    title
    meta(name='description', content='')
    meta(name='viewport' content='width=device-width initial-scale=1 user-scalable=no')
    
    link(rel='stylesheet' href='/styles/main.css')
    script(src='/scripts/vendor/modernizr.js')

    //-   script
    //-     (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    //-     function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    //-     e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    //-     e.src='//www.google-analytics.com/analytics.js';
    //-     r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    //-     ga('create','UA-XXXXX-X');ga('send','pageview');
  body
    div(id='login-wrapper')
      h2 Join the Firefly Family Today!
      div(id="social-buttons")
        img(
          id="google-sign-in" 
          class="sign-in-btn"
          src="public/assets/images/google_base.png" 
          onmouseover="hoverBtn(this, 'google');" 
          onmouseout="unhoverBtn(this, 'google');"
          onclick="clickBtn(this, 'google');"
        )

        img(
          id="facebook-sign-in"
          class="sign-in-btn"
          src="public/assets/images/facebook_base.png"
          onmouseover="hoverBtn(this, 'facebook');" 
          onmouseout="unhoverBtn(this, 'facebook');"
          onclick="clickBtn(this, 'facebook');"
        )

        img(
          id="pinterest-sign-in"
          class="sign-in-btn"
          src="public/assets/images/pinterest_base.png"
          onmouseover="hoverBtn(this, 'pinterest');" 
          onmouseout="unhoverBtn(this, 'pinterest');"
          onclick="clickBtn(this, 'pinterest');"
        )

        img(
          id="twitter-sign-in"
          class="sign-in-btn"
          src="public/assets/images/twitter_base.png"
          onmouseover="hoverBtn(this, 'twitter');" 
          onmouseout="unhoverBtn(this, 'twitter');"
          onclick="clickBtn(this, 'twitter');"
        )
      
    script(src="/src/scripts/login.js")
